a:link {
    text-decoration: none;
}

.order-card {
    color: rgb(255, 255, 255);
}

.bg-c-blue {
    background: #04868f;
}

.bg-c-green {
    background: #4C51BF;
}

.bg-c-yellow {
    background: #F56565;
}

.bg-c-pink {
    background: #663a30;
}


.card {

    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: 1px solid black;
    margin-bottom: 1px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 27px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

header {
    left: 0px;
    right: 0px;
}



a:link {
    text-decoration: none;
}

h6 {
    text-align: center;
}

.row {
    margin: 100px;
}

th,
td {
    padding: 65px;
}

header {
    position: fixed;
    background: #22242A;
    padding: 16px;
    width: 100%;
    z-index: 1;
}

.left_area h3 {
    color: #fff;
    margin: 0px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span {
    color: #19B3D3;
}

.logout_btn {
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    /* margin-top: -30px; */
    /* margin-right: 40px; */
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;

}

.logout_btn:hover {
    background: #0B87A6;
}


.button {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    align-items: center;

    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text],
select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.button:hover {
    background-color: #45a049;
}